@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  
}


.pacifico-regular {
  font-family: "Pacifico", serif;
  font-style: normal;
}

.smooth3{
transition: all 0.3s ease-in-out;
}